<h1>Stupid Coaching</h1>
<p>Stupid since 1991.</p>

<div class="question">
  <h2><%= @question %></h2>
  <p>--you seriously asked that</p>
</div>

<div class="answer">
  <p><strong><%= @answer %></strong></p>
  <p>--sincerely, your dumb ass coach</p>
</div>

