<h1>Stupid Coaching</h1>
<p>Ask me anything, I'm super stupid:</p>

<form action="/answer">
  <input type="text" name="question" placeholder="Who am i?">
  <input type="submit" class="btn" value="Ask!">
</form>
